body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

/* Estilos para o componente dropdown */
.dropdown {
  display: inline-block;
}

/* Estilos para o botão do dropdown */
.dropbtn {
  cursor: pointer;
}

/* Estilos para o conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: fade-in 0.3s ease-in;
}

/* Exibir o conteúdo do dropdown quando o dropdown é hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para os links dentro do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  animation: slide-down 0.3s ease-in;
}

/* Estilos quando os links dentro do dropdown são hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Animação de fade-in */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de slide-down */
@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

/* Estilos para a lista de produtos */
#product-list {
  flex-basis: 75%;
  padding: 20px;
}

/* Estilos para cada produto */
.product {
  margin-bottom: 20px;
}

.product img {
  width: 100px;
  height: 100px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: green;
}

/* Estilos para o container dos produtos */
.product-container {
  display: flex;
}

/* Estilos para o container de categorias */
#category-container {
  flex-basis: 20%;
}

/* Estilos para a lista de produtos */
#product-list {
  flex-basis: 75%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para cada produto */
.product {
  flex-basis: 23%;
  margin-right: 2%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.product img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  color: green;
}
