/* Quadrado da roleta */
.paidefml {
    display: flex;
    position: relative;
    justify-content: center;
}

.quad {
    padding: 50px;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 4%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Importando a fonte Poppins do Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Configurações básicas de estilos para todos os elementos da roleta */

/* Estilos para os cabeçalhos de nível 1 */
.roulette h1 {
    text-align: center;
    font-weight: 600;
    margin: 0 1rem 2rem;
}

/* Estilos para a roda de roleta */
.wheel {
    margin: auto;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: all 8000ms;
}

/* Estilos para os segmentos da roda de roleta */
.wheel-segment {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    clip-path: polygon(50% 50%, 0 0, 0 100%);
}

/* Estilos para o primeiro segmento da roda (vermelho) */
.wheel-segment:nth-child(1) {
    background: red;
    transform: rotate(45deg);
}

/* Estilos para o segundo segmento da roda (verde) */
.wheel-segment:nth-child(2) {
    background: green;
    transform: rotate(135deg);
}

/* Estilos para o terceiro segmento da roda (azul) */
.wheel-segment:nth-child(3) {
    background: blue;
    transform: rotate(225deg);
}

/* Estilos para o quarto segmento da roda (amarelo) */
.wheel-segment:nth-child(4) {
    background: yellow;
    transform: rotate(315deg);
}

/* Estilos para o texto dentro dos segmentos da roda */
.wheel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    width: 80%;
    height: 80%;
}

/* Estilos para o contêiner da roleta */
.roulette {
    position: relative;
    margin: auto;
    text-align: center;
}

/* Estilos para o ponteiro da roleta */
.roulette::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 24px;
    height: 24px;
    background-color: darkorange;
    border-radius: 50% 50% 0 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

/* Estilos para os botões da roleta */
.input-container {
    margin-bottom: 20px;
}

.input-container input {
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-container input::placeholder {
    color: #888;
}

.spin-button {
    border: none;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    padding: 10px 30px;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.spin-button:hover {
    background-color: #c0392b;
}

/*cor dos botões*/
.color-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}